.form-group {
    width: 320px;
}

.btn {
    margin-top: 20px;
    background-color: transparent;
    color: rebeccapurple;
    font-family: 'Segoe UI';
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: white;
    color: rgba(16, 128, 234, 1);
}